{% extends 'gym/base.html' %}

<script>
$(function() {
var loc = window.location.href;
   $(".navbar .navbar-nav > li").each(function() {
      if (loc.match('/software')) { // software is the name of the page/slug
        $(this).addClass("active");
        }
   });
});
</script>

{% block head %}
    <title>Employee Page 3</title>
{% endblock %}


{% block body %}
<img class="img2" src="https://media.licdn.com/mpr/mpr/p/5/005/07c/04b/12e764b.jpg" alt="Smiley face" align="right">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h5> Contact Information:</h5>
    <br>
    <h6> Phone Number: </h6>
    <h3> 1212-039-0394 </h3>
    <br>
    <h6> Email address: </h6>
    <h3> help@awesomegym.com </h3>
    <br>
    <h6> Address: </h6>
    <h3> 111 Waverly Road, Surrey, Vancouver, BC, V3X 1I4 </h3>


{% endblock %}
